ion-tabs {
  position: relative;

  ion-toolbar {
    position: absolute;
    padding-top: 6px;
  }

  ion-tab-bar {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;

    border-bottom: 1px solid #ccc;
  }
}

