<ion-tabs slot="top">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>

  <ion-tab-bar>
    <ion-tab-button tab="localizacao">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Localização</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="pencil-sharp"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="filtros">
      <ion-icon name="filter-outline"></ion-icon>
      <ion-label>Filtros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

