

ion-item-group{
  margin-top: 10%;
}
ion-list{
  margin-top: -8px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  ion-item{
    margin-top: 20px;
  }
}
ion-icon{
  margin-right: 15px;
}
ion-input{
  height: 50px;
  width: 100%;
}

.ion-padding-vertical-x{
  padding-top: 15px;
  margin-top: auto;
  text-align: center;
}

.btnEntrar{
  width: 60%;
  height: 56px;
  color: white;
  background: #2877D3;
  font-size: 20px;
  border-radius: 15px  15px;
  margin-bottom: 15px;

}

