<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" mode="md" defaultHref="perfil"></ion-back-button>
        </ion-buttons>
    <ion-title>Meus Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group>
    <ion-list>
        <ion-item lines="inset">
          <ion-icon name="compass-outline"></ion-icon>
            <ion-input min="10000000" max="99999999"  placeholder="CEP 00000 000" (click)="Cep()" maxlength="8" inputmode="numeric" [(ngModel)]="endereco.CEP" (ionChange)="onChangeCEP($event)" required></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item lines="inset">
            <ion-icon name="location-outline"></ion-icon>
            <ion-input placeholder="RUA" [(ngModel)]="endereco.Rua" (ionChange)="onChangeRua($event)" required></ion-input>
        </ion-item>
    </ion-list>
    <ion-list >
        <ion-item lines="inset">
            <ion-icon name="locate-outline"></ion-icon>
            <ion-input placeholder="NÚMERO" type="number" [(ngModel)]="endereco.numero" (ionChange)="onChangeNumero($event)"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list >
        <ion-item lines="inset">
            <ion-icon name="navigate-circle-outline"></ion-icon>
            <ion-input placeholder="BAIRRO" name="Bairro"  [(ngModel)]="endereco.Bairro" (ionChange)="onChangeBairro($event)" required ></ion-input>
        </ion-item>
    </ion-list>
     <ion-list >
        <ion-item lines="inset">
            <ion-icon name="pin-outline"></ion-icon>
            <ion-input placeholder="COMPLEMENTO"  [(ngModel)]="endereco.complemento" (ionChange)="onChangeComplemento($event)"></ion-input>
        </ion-item>
    </ion-list>

       <div class="ion-padding-vertical-x">
            <button (click)="teste()" class="btnEntrar">
            Concluir Cadastro
            </button>
        </div>
  </ion-item-group>
</ion-content>
