<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" class="ion-padding-start">
            <ion-back-button defaultHref="servicos" text="" icon="close"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start" >
            Meu Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header class="ion-no-padding">
            <ion-item lines="none" class="ion-padding-vertical">
                <ion-avatar slot="start" class="ion-no-margin">
                    <img src="../../assets/avatar.svg">
                </ion-avatar>
                <ion-label class="ion-padding-start labelHeader" color="primary">{{profile_name}}</ion-label>
            </ion-item>
        </ion-list-header>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card (click)="onDadosPessoais($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/dados-pessoais.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Dados Pessoais</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="onEndereco($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/endereco.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Endereço</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card (click)="onMeusAnuncios($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/meus-anuncios.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Meus Anúncios</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="onContatos($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/contatos.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Contatos</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card (click)="onFavoritos($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/favoritos.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Favoritos</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="onCertificados($event)">
                        <ion-card-header>
                            <div>
                                <ion-img src="../../assets/certificados.svg"></ion-img>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-label>Certificados</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-list>

</ion-content>
