.labelHeader {
    font-size: initial;
    white-space: pre-wrap;
}

ion-footer {
    background: #f4f5f8;
}

ion-toolbar {
    --min-height: 66px;
}

.ion-padding-vertical {
    padding-top: 8px;
}

.ion-padding-start {
    padding-left: 14px;
}

.ion-padding-start-2x {
    padding-left: 28px;
}

.ion-padding-start-3x {
    padding-left: 42px;
}

ion-avatar {
    width: 60px;
    height: 60px;
}

ion-img {
    width: fit-content;
}

ion-card {
    margin-top: 0;
    margin-bottom: auto;
    div,
    ion-card-content {
        text-align: -webkit-center;
        font-weight: bolder;
        font-size: 11px;
    }
    ion-card-content {
        padding: 0;
        padding-bottom: 9px;
    }
}

ion-label {
    font-weight: bolder;
}