<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="servicos"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Anúncio</ion-title>
    <ion-button fill="clear" slot="end" (click)="alteraFavorito(card)">
      <ion-icon slot="icon-only"
      [class]="card.favorito ? 'heartSelected' : 'heartUnselected'"
      [name]="card.favorito ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end">
      <ion-icon slot="icon-only" name="share-social-outline" style="color: white"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="ion-no-padding">
      <div>
        <ion-item-group lines="none" class="ion-padding-vertical-3x">
          <ion-img src="../../assets/camera.svg" class="ion-padding-horizontal"></ion-img>
        </ion-item-group>
      </div>
    </ion-item>
    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          {{card.subcategoria}}
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-label>
          Publicado em {{card.data}}
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Descrição
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-label class="ion-text-wrap">
          {{card.descricao}}
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Localização
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-label>CEP</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label>{{card.cep}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label>Município</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label>{{card.cidade}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label>Bairro</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label>{{card.bairro}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label>Logradouro</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="ion-text-wrap">{{card.logradouro}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Categoria
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-label class="ion-text-wrap">
          {{card.categoria}}
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Área
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-label class="ion-text-wrap">
          {{card.categoria}}
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Pagamento
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <label class="ion-text-wrap">
          {{card.valor == "" ? "A combinar" : "R$ " + card.valor}}
        </label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5>
          {{card.autor}}
        </h5>
      </ion-item>
      <ion-item lines="none" class="ion-padding-horizontal">
        <ion-label class="ion-text-wrap">
          No E-BICOS desde DD/MM/AAAA.
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <h5 class=bold>
          Anunciante
        </h5>
      </ion-item>
      <ion-item lines="full" class="ion-padding-horizontal">
        <ion-label class="ion-text-wrap">
          <a href="#">Ver todos os anúncios</a>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item lines="none">
        <h5 class=bold>
          Semelhantes
        </h5>
      </ion-item>
      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="ion-padding-horizontal">
        <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" style="width: 150px; border: 2px solid #f8f8f8; border-radius: 15px;">
          <ion-col>
            <ion-img style="pointer-events:none" src="../../assets/inserir_foto_bg2.jpg"></ion-img>
            <div class="ion-text-start">
              <ion-label class="ion-text-wrap">
                <p>Título do anúncio</p>
              </ion-label>
            </div>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-item-group>
    <ion-item lines="none">
      <p>Irregularidades no anúncio? <a href="#">Denunciar</a>.</p>
    </ion-item>
    <ion-item lines="none"></ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
