<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Termos de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>O que está incluído nos termos?</p>
  <div></div>
  <p>Esta página foi criada com o intuito de ajudarmos-lhe na navegação pelos Termos de Uso</p>

  <h6>Bem vindo ao E-bicos</h6>
  <p>
    Agradecemos-lhe por utilizar o E-BICOS, bem como todos os recursos e
    serviços que fazem parte do aplicativo.
  </p>

  <h6>Nosso serviço</h6>
  <p>
    O aplicativo disponibiliza um espaço de postagens, o qual torna possível o
    compartilhamento de imagens, vídeos e informações, permitindo a procura e
    oferta de serviços. Na Central de Ajuda é possível ter maiores detalhes sobre
    nosso produto e como usá-lo.
  </p>

  <h6>Sobre a conta</h6>
  <p>
    Ao criar uma conta no Aplicativo, Você declara que todas as informações
    fornecidas (“Informações da Conta”) são verdadeiras e assume a responsabilidade
    de mantê-las atualizadas. Para proteção de sua conta, sua senha deve ser
    mantida em sigilo e não deve ser compartilhada, pois as atividades realizadas
    no Site com o uso de sua conta serão sempre de sua responsabilidade. Não será
    permitida a transferência, cessão, aluguel ou vendada conta.
  </p>

  <h6>Termos aplicáveis</h6>
  <p>
    Você não deve inserir, transmitir, difundir ou disponibilizar a terceiros por
    meio do Site qualquer tipo de material ou informação que sejam contrários à
    legislação vigente, à moral, à ordem pública, a este T&C, às políticas da OLX
    e às Condições Particulares aplicáveis. Dentre outros, não é permitido (i)
    "spam", "e-mail de correntes", "marketing piramidal" e publicidade fora das
    áreas concebidas para tal uso; (ii) conteúdo falso, ambíguo, inexato, ou que
    possam induzir a erro eventuais receptores de referida informação; (iii)
    conteúdo que implique em violação ao sigilo das comunicações e à privacidade;
    (iv) senhas de acesso às distintas utilidades e/ou conteúdo do Site que sejam
    de titularidade de outros usuários.
  </p>

  <h6>Quem pode usar o serviço?</h6>
  <p>
    Os serviços do E-Bicos, são direcionados para todas as pessoas, que estão
    divididas em duas vertentes. As que estão buscando um trabalho ou renda extra
    e para aquelas que estão procurando um funcionário para determinadas atividades.
  </p>

  <h6>Seu uso do serviço</h6>
  <p>
    Somente poderão ser veiculados no Site anúncios de produtos e/ou serviços
    permitidos por este T&C e respectivas regras aplicáveis, assim como pela lei
    vigente. Antes de veicular o seu anúncio, é sua responsabilidade se assegurar
    que ele está em conformidade com as regras vigentes. Você deverá obrigatoriamente
    ter disponibilidade para prestar o(s) serviços, conforme anunciado. Você deverá
    informar, de forma clara e completa, condições da entrega e eventuais restrições
    geográficas.
  </p>

</ion-content>
