ion-toolbar {
  ion-title {
    font: 400 24px Arial, sans-serif;

    span {
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 10px;
    }
  }
}

p {
  font: 400 24px Arial, sans-serif;
  text-align: justify;
  margin: 24px 10px;

  &:first-child {
    text-align: center;
  }
}

div {
  height: 3px;
  width: 170px;
  background: #2877d3;
  margin: 0 auto;
}

h6 {
  font: 900 17px Arial, sans-serif;
  color: #2877d3;
  margin-left: 24px;
}
