ion-toolbar {
  ion-title {
    font: 400 24px Arial, sans-serif;
  }
}

p {
  font: 400 24px Arial, sans-serif;
  text-align: center;
}

div {
  height: 3px;
  width: 170px;
  background: #2877d3;
  margin: 0 auto;
}
