<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quem Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>O E-BICOS é um marketplace C2C, mas, o que isso significa?</p>
  <div></div>
  <p>
    Basta imaginar que seria como uma agência de empregos online,
    anunciando vagas de serviços a serem prestados. Porém, com todas
    as transições feitas de consumidor para consumidor.
  </p>
  <p>
    Para quem procura uma renda extra, a nossa vantagem é a grande
    variedade de ofertas no mesmo destino: para quem busca um profissional
    para um serviço, é o poder de conectar-se a diferentes pessoas interessadas
    no serviço que você tem a oferecer.
  </p>
</ion-content>
