.ion-padding-vertical {
    padding-top: 8px;
}

.labelHeader {
    font-size: 10pt;
    white-space: pre-wrap;
}

.labelMenuLarge {
    font-size: initial;
    font-weight: bold;
}

.labelMenuSmall {
    font-size: 10pt;
    font-weight: bold;
}