ion-toolbar{
  ion-title{
    padding-top: 20px;
    margin-right: 30px;
  }
}


.list1{
  margin-bottom: -20px;
}
ion-list{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
ion-icon{
  margin-right: 15px;
}
ion-input{
  height: 50px;
  width: 100%;
}

.n1{
    padding-top: 2%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.n2{
  padding-top: 5px;
  margin-top: auto;
  text-align: center;
  font-size: 18px;
  color: white;
  padding-bottom: 10px;

}
.n3{
  padding-top: 15px;
  margin-top: auto;
  text-align: center;
}

.btnEntrar{
  width: 60%;
  height: 56px;
  color: white;
  background: #2877D3;
  font-size: 20px;
  border-radius: 15px  15px;
  margin-bottom: 15px;

}

