ion-toolbar {
  ion-title {
    padding-top: 20px;
    margin-right: 30px;
  }
}

.form {
  margin-top: 5%;
}

ion-item {
  margin-right: 10%;
  margin-left: 10%;

  h5 {
    font-weight: bold;
  }
  ion-input {

    --placeholder-opacity: 1;
    --padding-start: 16px;
    margin-left: 10px;
    height: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px 4px;
  }
  ion-label {
    margin-left: 10px;
    margin-top: -5px;
  }
}
.ion-padding-vertical-x {
  padding-top: 2%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.ion-padding-vertical-2x {
  padding-top: 5px;
  margin-top: auto;
  text-align: center;
  font-size: 15px;
  color: white;
  padding-bottom: 20px;
}

.ion-padding-vertical-3x {
  padding-top: 15px;
  margin-top: auto;
  text-align: center;
}

.btnEntrar {
  width: 192.2px;
  height: 56px;
  color: white;
  background: #2877d3;
  font-size: 20px;
  border-radius: 2px 4px;
}
