<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" mode="md" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="ion-padding-vertical-x">
                <label>
      Entrar no seu perfil
      </label>
            </div>
            <div class="ion-padding-vertical-2x">
                <label>Bem-vindo(a) de volta ao E-BICOS</label>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header>
        <ion-label color="danger">Formulario Template: Valido {{formulario.valid}}</ion-label>
    </ion-list-header>

    <form class="form" #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list lines="full">
            <ion-item-group>
                 <ion-item lines="none" >
                       <h5>Email</h5>
                  </ion-item>
                  <ion-item lines="none">
                         <ion-input  placeholder="exemple@gmail.com" pattern="^([a-z0-9._\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email" name="email" [(ngModel)]="usuario.email" required></ion-input>
                  </ion-item>
                  <ion-item lines="none" >
                       <h5>Senha</h5>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-input placeholder="password"  type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
                  </ion-item>
                  <ion-item class="form" lines="none" >
                  <ion-label >Esqueceu a senha ?</ion-label>
                  </ion-item>
            </ion-item-group>
        </ion-list>
        <div class="ion-padding-vertical-3x">
            <button class="btnEntrar" type="submit" [disabled]="formulario.invalid">
        Entrar
        </button>
        </div>
    </form>

    <div class="ion-padding-vertical-3x">
        <ion-button class="btnCriar" (click)="showPageCadastrar()" color="dark" fill="outline" size="large">
            Criar Perfil
        </ion-button>
    </div>





</ion-content>
