<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" >

    <div class="n1">
      <ion-button color="light" fill="outline"  size="large">
      E-BICOS
      </ion-button>
    </div>
    <div class="n2">
    <label >vagas de emprego</label></div>

    <div>
      <img class="logo1" src="../../assets/logo.png">
    </div>

    <div class="n1">
        <button class= "btnEntrar" (click)="showPageEntrar()" >
        Entrar
        </button>
       </div>
    <div class="n3">
     <ion-button class="btnCriar" (click)="showPageCadastro()"  color="light" fill="outline" size="large">
        Criar Perfil
        </ion-button>
    </div>

</ion-content>
